@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 20px 300px;
    display: flex;
    justify-content: space-between;
}

.hero,
.footer {
    background-color: #1F2937;
    padding: 20px 300px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    height: 450px;
    display: flex;
}

.main-container {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    padding: 50px 0;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.left-side-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left-side-body {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.main-image {
    background-color: #445566;
    height: 250px;
    width: 500px;
    color: #F9FAF8;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    flex-shrink: 0;
}

.info {
    padding: 50px 300px;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.info-top {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.info-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-item {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 10px;
}

.info-image {
    border: 5px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

.info-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    flex-grow: 0;
    font-weight: 400;
}


.quote {
    padding: 20px 300px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-style: normal;
    font-weight: bolder;
}

.signup {
    padding: 20px 300px;
    background-color: #3882f6;
}

button {
    background-color: #3882f6;
    color:#F9FAF8;
    border: 0px solid transparent;
    font-weight: bold;
    border-radius: 10%;
    padding: 10px 30px;
    font-size: 18px;
}

.footer {
    color: #E5E7EB;
}